<section class="fungus">
   <div class="container">
      <div class="fungus__title">
         Грибок – это опасная инфекция
      </div>
      <div class="fungus__descr">
         которая угрожает вам и вашим близким, ведь с каждым днем грибок приводит к:
      </div>
      <div class="fungus__inner">
         <div class="fungus__col">
            <div class="fungus__head">
               <span class="fungus__head-num">1</span>
               <img class="fungus__head-img" src="images/fungus-1.jpg" alt="fungus">
               <div class="fungus__head-title">
                  Сложным формам аллергии
               </div>
            </div>
            <p class="fungus__text">
               Может появится сильная реакция на на привычную пищу, одежду, средства гигиены
            </p>
         </div>
         <div class="fungus__col">
            <div class="fungus__head">
               <span class="fungus__head-num">2</span>
               <img class="fungus__head-img" src="images/fungus-2.jpg" alt="fungus">
               <div class="fungus__head-title">
                  Потере ногтя и ампутации пальца
               </div>
            </div>
            <p class="fungus__text">
               После полного разрушения ногтя грибок распространяется на палец, что приводит к его ампутации
            </p>
         </div>
         <div class="fungus__col">
            <div class="fungus__head">
               <span class="fungus__head-num">3</span>
               <img class="fungus__head-img" src="images/fungus-3.jpg" alt="fungus">
               <div class="fungus__head-title">
                  Тяжелому поражению внутренних органов
               </div>
            </div>
            <p class="fungus__text">
               Может привести к повреждениям мозга, слепоте, отказу печени, почек и сердца
            </p>
         </div>
      </div>
      <div class="fungus__statistics">
         <p class="fungus__statistics-text">
            <span>Статистика:</span> каждые 60 секунд врачи диагностируют опасные поражения внутренних органов,
            вызванные грибком, у 1-го пациент
         </p>
      </div>
   </div>
</section>