@import "vars";
@import "global";

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
   font-family: "Roboto", sans-serif;
   color: #000;
   font-size: 14px;
   &.lock {
      overflow: hidden;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;
   padding: 0 15px;

   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

@import "header.scss";
@import "content.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.home-bg {
   position: relative;
   min-height: 840px;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("../images/home.png");
   &:after {
      content: "";
      position: absolute;
      top: 0px;
      transform: translateY(-232px);
      right: 42%;
      left: 0;
      margin: 0 auto;
      max-width: 747px;
      width: 100%;
      min-height: 813px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/home-bg-1.png");
   }
   &__decor {
      position: absolute;
      top: 150px;
      right: 37%;
      left: 0;
      max-width: 571px;
      width: 100%;
      min-height: 572px;
      margin: 0 auto;
      border-radius: 50%;
      background-image: url("../images/home-bg-2.jpg");
      &:after {
         content: "";
         position: absolute;
         top: -64px;
         left: -10%;
         transform: rotate(5deg);
         max-width: 540px;
         width: 100%;
         min-height: 690px;
         background-image: url("../images/home-bg-3.png");
      }
   }
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
