@import "vars";
@import "global";

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
body {
   font-family: "Roboto", sans-serif;
   color: #000;
   font-size: 14px;
   &.lock {
      overflow: hidden;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;
   padding: 0 15px;

   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

@import "header.scss";
@import "content.scss";
@import "fungus.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.home-bg {
   position: relative;
   min-height: 840px;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("../images/home.png");

   &:after {
      content: "";
      position: absolute;
      top: 0px;
      transform: translateY(-232px);
      right: 42%;
      left: 0;
      margin: 0 auto;
      max-width: 747px;
      width: 100%;
      min-height: 813px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/home-bg-1.png");
      @media (max-width: 1920px) {
         right: 52%;
      }
      @media (max-width: 1624px) {
         content: none;
      }
   }
   &__decor {
      position: absolute;
      top: 150px;
      right: 37%;
      left: 0;
      max-width: 571px;
      width: 100%;
      min-height: 572px;
      margin: 0 auto;
      border-radius: 50%;
      background-image: url("../images/home-bg-2.jpg");
      @media (max-width: 670px) {
         display: none;
      }
      &:after {
         content: "";
         position: absolute;
         top: -64px;
         left: -10%;
         transform: rotate(5deg);
         max-width: 540px;
         width: 100%;
         min-height: 690px;
         background-image: url("../images/home-bg-3.png");
      }
   }
}
.home {
   // .home__product

   &__product {
   }
}
.product {
   position: absolute;
   bottom: 15px;
   left: 21.5%;
   z-index: 4;
   display: flex;
   max-width: 698px;
   width: 100%;
   min-height: 407px;
   @media (max-width: 1920px) {
      left: 12%;
   }
   @media (max-width: 1624px) {
      bottom: -50px;
      left: 37%;
   }
   @media (max-width: 1460px) {
      bottom: -200px;
      left: 35%;
   }
   @media (max-width: 945px) {
      bottom: -270px;
      left: 50px;
   }
   @media (max-width: 670px) {
      display: none;
   }
   // .product__packaging

   &__packaging {
   }

   // .product__packaging--large

   &__packaging--large {
      position: absolute;
      z-index: 1;
      bottom: 71px;
      left: 0;
      max-width: 378px;
      width: 100%;
      min-height: 271px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/product-1.png");
   }

   &__packaging-decor {
      position: absolute;
      z-index: 2;
      bottom: -51px;
      left: -49px;
      max-width: 186px;
      width: 100%;
      min-height: 97px;
      background-image: url("../images/product-4.png");
      &--branch {
      }
   }

   &__packaging--branch {
      position: absolute;
      right: 174px;
      top: 66px;
      z-index: -1;
      max-width: 313px;
      width: 100%;
      min-height: 232px;
      background-image: url("../images/product-5.png");
   }

   // .product__packaging--less

   &__packaging--less {
      position: absolute;
      z-index: 2;
      left: 108px;
      bottom: 20px;
      max-width: 421px;
      width: 100%;
      min-height: 189px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/product-2.png");
   }

   // .product__packaging--small

   &__packaging--small {
      position: absolute;
      bottom: 0;
      left: 255px;
      z-index: 3;
      max-width: 339px;
      width: 100%;
      min-height: 135px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/product-3.png");
   }

   &__packaging-price {
      position: absolute;
      right: -7px;
      top: -12px;
      padding: 7px 0px 7px 11px;
      color: #ffffff;
      font-size: 34px;
      font-weight: 900;
      line-height: 24px;
      border-radius: 8px;
      background-color: #ff6b00;
      &--color-green {
         right: 42px;
         background-color: #a8ca3f;
      }
   }
}

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
